<template>
  <div class="promo">
    <div class="promo__wrapper">
      <h1 class="promo__title">
        Роль: <span>{{ user.role }}</span>
      </h1>
      <div class="promo__info">
        <div class="promo__left">
          <p>Ім'я:</p>
          <hr />
          <p>Прізвище:</p>
          <hr />

          <p>Email:</p>
        </div>
        <div class="promo__right">
          <p>{{ user.firstname }}</p>
          <hr />

          <p>{{ user.lastname }}</p>
          <hr />

          <p>{{ user.email }}</p>
        </div>
      </div>
      <button
        v-if="btnAdd"
        class="promo__btn promo__btn--orange"
        @click="openCreate"
      >
        Створити субадміна
      </button>
      <button
        v-if="btnList"
        class="promo__btn promo__btn--brown"
        @click="openList"
      >
        Список субадмінів
      </button>
      <button class="promo__btn promo__btn--blue" @click="openPermissionsUser">
        Дозволи
      </button>
    </div>
  </div>
  <add-user v-if="createUser" @close-window="closeAdd"></add-user>
  <list-user v-if="listUser" @close-list="closeListUser"></list-user>
  <permission-user
    v-if="permissionsOpen"
    @close-permission="closePermission"
  ></permission-user>
</template>

<script>
import AddUser from "@/components/AddUser.vue";
import ListUser from "@/components/ListUser.vue";
import PermissionUser from "@/components/PermissionUser.vue";
import axios from "@/api/api";
import { mapState, mapMutations } from "vuex";

export default {
  name: "AdminView",
  components: {
    AddUser,
    ListUser,
    PermissionUser,
  },
  data() {
    return {
      user: {},
      createUser: false,
      listUser: false,
      permissionsOpen: false,
      btnList: true,
      btnAdd: true,
    };
  },

  created() {
    // Отримання списку дозвілів
    axios
      .get("/admins/permissions")
      .then((response) => {
        const permissions = response.data.map((option) => {
          option.active = false;
          return option;
        });
        this.getPermission(permissions);
      })
      .catch((error) => console.log(error));
  },

  mounted() {
    // Дістаємо дані з localStorage для виведення
    const storedUser = window.localStorage.getItem("user");
    if (storedUser) {
      this.user = JSON.parse(storedUser);
      if (this.user.role === "SUB_ADMIN") {
        this.btnAdd = false;
        this.btnList = false;
      }
    }
    // document.addEventListener("click", this.closeAdd.bind(this), true);
  },
  // unmounted() {
  //   document.removeEventListener("click", this.closeAdd.bind(this), true);
  // },

  computed: {
    ...mapState(["permissions"]),
  },

  methods: {
    ...mapMutations(["getPermission"]),

    // Відкриваємо вікно для створення
    openCreate() {
      this.createUser = !this.createUser;
    },

    // Відкриваємо вікно Список субадмінів
    openList() {
      this.listUser = !this.listUser;
    },

    // Відкриваємо вікно Дозвіли
    openPermissionsUser() {
      this.permissionsOpen = !this.permissionsOpen;
    },

    // Закриваємо вікно Створення
    closeAdd() {
      this.createUser = false;
    },

    // Закриваємо вікно Список субадмінів
    closeListUser() {
      this.listUser = false;
    },

    // Закриваємо вікно Дозвіли
    closePermission() {
      this.permissionsOpen = false;
    },
  },
};
</script>

<style lang="scss" scoped>
body {
  overflow: hidden;
}
p {
  margin: 0;
  padding: 0;
}
.promo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  &__title {
    color: rgb(1, 20, 61);
    font-size: 30px;
    margin-top: 20px;

    & span {
      text-transform: lowercase;
    }
  }

  &__btn {
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;

    &--orange {
      background-color: rgb(253, 121, 73);

      &:hover {
        background-color: rgb(204, 54, 0);
      }
    }

    &--brown {
      background-color: rgb(146, 78, 78);
      &:hover {
        background-color: rgb(114, 4, 4);
      }
    }

    &--blue {
      background-color: rgb(111, 138, 255);
      &:hover {
        background-color: rgb(3, 22, 105);
      }
    }
  }

  &__info {
    display: flex;
    gap: 5px;
    border: 1px solid black;
    padding: 20px;
  }

  &__left {
    border-right: 1px solid rgb(173, 173, 173);
    padding-right: 25px;
    & p {
      font-size: 20px;
      color: rgb(1, 20, 61);
    }
  }

  &__right {
    & p {
      padding-left: 20px;
      font-size: 20px;
      color: rgb(1, 20, 61);
    }
  }

  &__list {
    list-style: none;
    font-size: 18px;
  }

  &__item {
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 416px) {
  .promo {
    &__wrapper {
      padding: 15px;
    }

    &__title {
      font-size: 28px;
    }

    &__btn {
      height: 40px;
      font-size: 16px;
    }

    &__info {
      padding: 10px;
    }

    &__left {
      padding-right: 25px;
      & p {
        font-size: 16px;
      }
    }

    &__right {
      & p {
        padding-left: 20px;
        font-size: 16px;
      }
    }

    &__list {
      font-size: 16px;
    }

    &__item {
      gap: 10px;
    }
  }
}
</style>
