<template>
  <div class="error">
    <div class="error__wrapper">
      <h2 class="error__title">404 Error</h2>
      <ol class="error__list">
        <li><router-link :to="{ name: 'home' }">Home</router-link></li>
        <li class="error__label">404 Error</li>
      </ol>
    </div>
    <div class="error__image">
      <img src="../assets/image/404-img.jpg" alt="img description" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Page404View",
};
</script>

<style lang="scss" scoped>
@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Open+Sans:400,600,700);
.error {
  &__wrapper {
    height: 300px;
    background-image: url(../assets/image/img-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__title {
    font-size: 48px;
    color: white;
    font-weight: 500;
  }

  &__list {
    list-style: none;
    display: flex;
    margin-top: 40px;
    gap: 10px;

    & li {
      font-size: 28px;
      color: rgb(255, 255, 255);

      &:first-of-type::after {
        content: "/";
        padding-left: 10px;
      }

      & a {
        color: rgb(145, 145, 145);
        text-decoration: none;

        &:hover {
          color: white;
        }
      }
    }
  }

  &__image {
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media (max-width: 740px) {
  .error {
    &__title {
      font-size: 38px;
    }

    &__list {
      margin-top: 30px;

      & li {
        font-size: 24px;
      }
    }

    &__image {
      max-width: 500px;
      max-height: 500px;
    }
  }
}
</style>
