<template>
  <div class="start">
    <div class="start__wrapper">
      <div class="start__left">
        <h2 class="start__title">АВТОРИЗАЦІЯ</h2>
        <div class="start__img">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="96"
            height="96"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="8.5" cy="7" r="4" />
          </svg>
        </div>
        <div class="start__round">
          <svg
            id="svg"
            width="20"
            height="20"
            viewPort="0 0 20 20"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle r="5" cx="10" cy="10" fill="orangered"></circle>
          </svg>
        </div>

        <!-- Форма для входу -->
        <form action="#" class="start__forma" @submit.prevent>
          <div class="start__field">
            <div class="start__icon">
              <img src="../assets/image/email.png" alt="email" />
            </div>
            <input
              type="email"
              placeholder="Електронна пошта"
              v-model="fields.email"
            />
          </div>
          <div class="start__field">
            <div class="start__icon">
              <img src="../assets/image/password.png" alt="password" />
            </div>
            <input
              type="password"
              placeholder="Пароль"
              v-model="fields.password"
            />
          </div>
          <span class="start__error" v-if="error != null">{{ error }}!!!</span>
          <button
            class="start__btn"
            :class="{ disabled: !TestPole }"
            :disabled="!TestPole"
            @click="handleSignIn"
          >
            Увійти
          </button>
        </form>
      </div>
      <div class="start__right">
        <div class="start__img">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="96"
            height="96"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="8.5" cy="7" r="4" />
          </svg>
        </div>
        <div class="start__round">
          <svg
            id="svg"
            width="20"
            height="20"
            viewPort="0 0 20 20"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle r="5" cx="10" cy="10" fill="white"></circle>
          </svg>
        </div>
        <h2 class="start__title start__title--right">Привіт, Користуваче!</h2>
        <h3 class="start__subtitle">Маленька інструкція:</h3>
        <p class="start__text">
          Щоб увійти Ви маєте або володіти даними для входу, або адміністратор
          повинен створити вам аккаунт та надати ці дані!
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";

export default {
  name: "RegistrationView",
  data: () => ({
    fields: {
      email: null,
      password: null,
    },
    error: null,
  }),

  computed: {
    // Перевірка на заповнення полів
    TestPole() {
      return Object.values(this.fields).every((item) => {
        return item;
      });
    },
  },

  methods: {
    handleSignIn() {
      axios
        .post("/auth/login", {
          email: this.fields.email,
          password: this.fields.password,
        })
        .then((res) => {
          const data = res.data.user;

          const user = {
            id: data.id,
            email: data.email,
            firstname: data.first_name,
            lastname: data.last_name,
            role: data.role,
          };

          // Кладемо дані користувача у localStorage
          localStorage.setItem("user", JSON.stringify(user));

          // Кладемо токени у localStorage
          localStorage.setItem("access_token", res.data.access_token);
          localStorage.setItem("refresh_token", res.data.refresh_token);

          // Переходимо на головну сторінку
          this.$router.push({ name: "home" });
        })
        // Робимо обробку помилок
        .catch((e) => {
          this.error = e.response.data.message;
        });
    },
  },
};
</script>

<style scoped lang="scss">
.start {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    max-height: 580px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  &__left {
    max-width: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  &__icon {
    width: 64px;
    height: 55px;
    padding: 7px;
    background: #ececec;

    & img {
      width: 40px;
    }
  }

  &__title {
    color: orangered;
    font-size: 30px;
    margin-top: 20px;
  }

  &__img {
    margin-top: 30px;

    & svg {
      stroke: orangered;
      margin-left: 25px;
    }
  }

  &__round {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 42%;
      height: 1px;
      background: #aaa;
      vertical-align: middle;
      margin-right: 5%;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 45%;
      height: 1px;
      background: #aaa;
      vertical-align: middle;
      margin-left: 5%;
    }
  }

  &__field {
    width: 100%;
    display: flex;
    border: 1px solid #aaa;

    & input {
      border: none;
      width: 100%;
      padding: 0 15px;
      font-size: 18px;
      color: #555555;
    }
  }

  &__btn {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    background-color: orangered;
    border: none;
    margin-top: 20px;
  }

  &__forma {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    height: 100%;
  }

  &__error {
    color: red;
    font-size: 18px;
    letter-spacing: 1px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(-45deg, #ffcf00 0%, #fc4f4f 100%) no-repeat 0 0 /
      200%;
  }

  &__right {
    & .start__img {
      margin-top: 90px;

      & svg {
        stroke: white;
      }
    }
  }

  &__title--right {
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
  }

  &__subtitle {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
    letter-spacing: 2px;
    text-align: center;
  }

  &__text {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }

  &__right {
    & .start__round {
      &::before {
        background: #ffffff;
      }
      &::after {
        background: #ffffff;
      }
    }
  }
}
.disabled {
  cursor: no-drop;
  background-color: #aaa;
}

@media (max-width: 765px) {
  .start {
    &__left {
      padding: 15px;
    }

    &__title {
      font-size: 26px;
    }

    &__img {
      margin-top: 20px;
    }

    &__forma {
      margin-top: 20px;
      gap: 25px;
    }

    &__field {
      & input {
        font-size: 14px;
      }
    }

    &__btn {
      font-size: 16px;
      margin-top: 60px;
    }

    &__right {
      padding: 15px;
    }

    &__right {
      & .start__img {
        margin-top: 75px;
      }
    }

    &__title--right {
      font-size: 22px;
      margin-top: 30px;
    }

    &__subtitle {
      font-size: 18px;
      margin-top: 20px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 670px) {
  .start {
    &__left {
      max-width: 100%;
    }

    &__title {
      margin-top: 60px;
    }

    &__btn {
      margin-top: 30px;
    }

    &__right {
      display: none;
    }
  }
}
</style>
