<template>
  <div class="start" v-if="showWindow">
    <div class="start__wrapper">
      <button class="start__cross" @click="closeAddUser">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.5715 2.57153L2.57153 20.5715"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M2.57153 2.57153L20.5715 20.5715"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <h2 class="start__title">СТВОРЕННЯ СУБ-АДМІНА</h2>
      <div class="start__img">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="96"
          height="96"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
          <circle cx="8.5" cy="7" r="4" />
        </svg>
      </div>
      <div class="start__round">
        <svg
          id="svg"
          width="20"
          height="20"
          viewPort="0 0 20 20"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle r="5" cx="10" cy="10" fill="orangered"></circle>
        </svg>
      </div>
      <!-- Форма -->
      <form action="#" class="start__forma" @submit.prevent>
        <div class="start__field">
          <div class="start__icon">
            <img src="../assets/image/user.png" alt="email" />
          </div>
          <input type="text" placeholder="Ім'я" v-model="subadmin.name" />
        </div>
        <span class="start__error" v-if="errors.firstname !== null">{{
          errors.firstname
        }}</span>
        <div class="start__field">
          <div class="start__icon">
            <img src="../assets/image/user.png" alt="email" />
          </div>
          <input
            type="text"
            placeholder="Прізвище"
            v-model="subadmin.surname"
          />
        </div>
        <span class="start__error" v-if="errors.lastname !== null">{{
          errors.lastname
        }}</span>
        <div class="start__field">
          <div class="start__icon">
            <img src="../assets/image/email.png" alt="email" />
          </div>
          <input
            type="email"
            placeholder="Електронна пошта"
            v-model="subadmin.email"
          />
        </div>
        <span class="start__error" v-if="errors.email !== null">{{
          errors.email
        }}</span>
        <div class="start__field">
          <div class="start__icon">
            <img src="../assets/image/password.png" alt="password" />
          </div>
          <input
            type="password"
            placeholder="Пароль"
            v-model="subadmin.password"
          />
        </div>
        <span class="start__error" v-if="errors.password !== null">{{
          errors.password
        }}</span>
        <div>
          <!-- Мультиселект -->
          <div class="multi-select" @click="openOption">
            <div class="selected-options" v-if="optionsShow">
              <div
                v-for="option in selectedOptions"
                :key="option.value"
                class="selected-option"
              >
                {{ option.name }}
                <button @click="removeOption(option)">x</button>
              </div>
            </div>
            <div class="select-options" v-if="optionsShow">
              <div
                v-for="permission in allOptions"
                :key="permission.id"
                class="select-option"
                :class="{ active: permission.active }"
                @click="toggleOption(permission)"
              >
                {{ permission.name }}
              </div>
            </div>
          </div>
          <span class="start__error" v-if="errors.permissions !== null">{{
            errors.permissions
          }}</span>
        </div>
        <button class="start__btn" @click="handleAdd">СТВОРИТИ</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";
import { mapState } from "vuex";

export default {
  name: "AddUser",
  data: () => ({
    subadmin: {
      email: "",
      password: "",
      name: "",
      surname: "",
    },
    showWindow: true,
    optionsShow: false,
    selectedOptions: [],
    allOptions: null,
    errors: {
      email: null,
      password: null,
      firstname: null,
      lastname: null,
      permissions: null,
    },
  }),

  computed: {
    ...mapState(["permissions"]),

    closeAddUser() {
      return this.$emit("close-window");
    },
  },

  methods: {
    // Select

    // Add Option
    toggleOption(option) {
      option.active = !option.active;
      if (option.active) {
        this.selectedOptions.push(option);
      } else {
        this.selectedOptions = this.selectedOptions.filter(
          (selectedOption) => selectedOption.id !== option.id
        );
      }
    },

    // Delete Option
    removeOption(option) {
      option.active = false;
      const index = this.selectedOptions.findIndex(
        (selectedOption) => selectedOption.id === option.id
      );
      if (index > -1) {
        this.selectedOptions.splice(index, 1);
      }
    },

    openOption() {
      this.optionsShow = true;
      if (this.allOptions === null) {
        this.allOptions = JSON.parse(JSON.stringify(this.permissions));
      }
    },

    // Create Subadmin
    handleAdd() {
      axios
        .post("/admins", {
          email: this.subadmin.email,
          password: this.subadmin.password,
          first_name: this.subadmin.name,
          last_name: this.subadmin.surname,
          permission_ids: this.selectedOptions.map(
            (permission) => permission.id
          ),
        })
        .then(() => {
          this.showWindow = false;
        })
        .catch((e) => {
          console.log(e);
          if (this.subadmin.name === "") {
            this.errors.firstname =
              e.response.data.errors.first_name.constraints[0];
          }
          if (this.subadmin.surname === "") {
            this.errors.lastname =
              e.response.data.errors.last_name.constraints[0];
          }
          if (this.subadmin.email === "") {
            this.errors.email = e.response.data.errors.email.constraints[0];
          }
          if (this.subadmin.password === "") {
            this.errors.password =
              e.response.data.errors.password.constraints[0];
          }
          if (this.selectedOptions.length === 0) {
            this.errors.permissions =
              e.response.data.errors.permission_ids.constraints[0];
          }
          this.showWindow = true;
        });
    },
  },
};
</script>

<style scoped lang="scss">
.start {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  background-color: rgba(41, 53, 96, 0.5);

  &__wrapper {
    position: absolute;
    z-index: 100;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 400px;
    min-height: 200px;
    width: 100%;

    padding: 20px;
    border-radius: 10px;

    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
  }

  &__icon {
    width: 54px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;
    background: #ececec;

    & img {
      display: block;
      width: 36px;
      height: 36px;
    }
  }

  &__error {
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 1px;
    color: red;
    margin-top: 5px;
  }

  &__title {
    text-align: center;
    color: orangered;
    font-size: 24px;
    margin-top: 20px;
  }

  &__img {
    margin-top: 10px;
    width: 70px;
    height: 70px;

    & svg {
      stroke: orangered;
      margin-left: 5px;
      width: 70px;
      height: 70px;
    }
  }

  &__round {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 42%;
      height: 1px;
      background: #aaa;
      vertical-align: middle;
      margin-right: 5%;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 45%;
      height: 1px;
      background: #aaa;
      vertical-align: middle;
      margin-left: 5%;
    }
  }

  &__forma {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__field {
    width: 100%;
    display: flex;
    border: 1px solid #aaa;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    & input {
      border: none;
      width: 100%;
      padding: 0 15px;
      font-size: 16px;
      color: #555555;
    }
  }

  &__btn {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    background-color: orangered;
    border: none;
    margin-top: 20px;
  }

  &__btn .disable {
    background-color: #aaa;
  }
  &__text {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
}

.multi-select {
  position: relative;
  width: 360px;
  background-color: white;
  border: 1px solid #aaa;
  padding: 8px;
  min-height: 45px;
  cursor: pointer;
  margin-top: 20px;
}

.multi-select::before {
  content: "Дозвіли";
  font-size: 16px;
  color: #555555;
  padding-left: 10px;
}

.select-options {
  background-color: #fff;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;
}

.select-option {
  padding: 8px;
  font-size: 12px;

  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.select-option:last-of-type {
  border-bottom: none;
}

.select-option:hover {
  background-color: #f5f5f5;
}

.select-option.active {
  background-color: #a52b06;
  color: #fff;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  min-height: 10px;
}

.selected-option {
  display: flex;
  align-items: center;
  // background-color: #007bff;
  background-color: #a52b06;

  color: #fff;
  padding: 4px 5px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 12px;
}

.selected-option button {
  margin-left: 8px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 416px) {
  .start {
    &__wrapper {
      max-width: 310px;

      padding: 15px;
    }

    &__cross {
      width: 20px;
      height: 20px;

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    &__icon {
      width: 54px;
      height: 45px;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 4px;
      background: #ececec;

      & img {
        display: block;
        width: 36px;
        height: 36px;
      }
    }

    &__error {
      font-size: 14px;
    }

    &__title {
      font-size: 20px;
      margin-top: 30px;
    }

    &__img {
      width: 50px;
      height: 50px;

      & svg {
        width: 50px;
        height: 50px;
      }
    }

    &__forma {
      margin-top: 10px;
    }

    &__field {
      &:not(:first-of-type) {
        margin-top: 10px;
      }

      & input {
        padding: 0 10px;
        font-size: 14px;
      }
    }

    &__btn {
      font-size: 14px;
      margin-top: 10px;
    }

    &__text {
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .multi-select {
    width: 280px;
    margin-top: 10px;
  }

  .multi-select::before {
    font-size: 14px;
  }
}
</style>
