<template>
  <div class="hero">
    <div class="hero__wrapper">
      <button class="hero__cross" @click="closeListUser">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.5715 2.57153L2.57153 20.5715"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M2.57153 2.57153L20.5715 20.5715"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <h1 class="hero__title">Список суб-адмінів</h1>
      <div v-if="lengthUser">
        <ol class="hero__list">
          <li class="hero__item" v-for="item in listsubadmins" :key="item.id">
            <div class="hero__info">
              <p>
                {{ item.first_name }} {{ item.last_name }} - {{ item.email }}
              </p>
              <div class="hero__button">
                <button class="hero__btn" @click="updateUser(item.id)">
                  <img src="../assets/image/edit.png" alt="edit" />
                </button>

                <!-- Create Window -->
                <div class="start" v-if="showWindow">
                  <div class="start__wrapper">
                    <button class="start__cross" @click="closeUser">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M20.5715 2.57153L2.57153 20.5715"
                          stroke="black"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M2.57153 2.57153L20.5715 20.5715"
                          stroke="black"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                    <h2 class="start__title">РЕДАГУВАННЯ СУБ-АДМІНА</h2>
                    <div class="start__img">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="96"
                        height="96"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                        <circle cx="8.5" cy="7" r="4" />
                      </svg>
                    </div>
                    <div class="start__round">
                      <svg
                        id="svg"
                        width="20"
                        height="20"
                        viewPort="0 0 20 20"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle r="5" cx="10" cy="10" fill="orangered"></circle>
                      </svg>
                    </div>
                    <form action="#" class="start__forma" @submit.prevent>
                      <div class="start__field">
                        <div class="start__icon">
                          <img src="../assets/image/user.png" alt="email" />
                        </div>
                        <input
                          type="text"
                          placeholder="Ім'я"
                          v-model="subadmin.name"
                        />
                      </div>
                      <span
                        class="start__error"
                        v-if="errors.firstname !== null"
                        >{{ errors.firstname }}</span
                      >
                      <div class="start__field">
                        <div class="start__icon">
                          <img src="../assets/image/user.png" alt="email" />
                        </div>
                        <input
                          type="text"
                          placeholder="Прізвище"
                          v-model="subadmin.surname"
                        />
                      </div>
                      <span
                        class="start__error"
                        v-if="errors.lastname !== null"
                        >{{ errors.lastname }}</span
                      >
                      <div class="start__field">
                        <div class="start__icon">
                          <img src="../assets/image/email.png" alt="email" />
                        </div>
                        <input
                          type="email"
                          placeholder="Електронна пошта"
                          v-model="subadmin.email"
                        />
                      </div>
                      <span class="start__error" v-if="errors.email !== null">{{
                        errors.email
                      }}</span>
                      <div>
                        <!-- Мультиселект -->
                        <div class="multi-select" @click="openOption">
                          <div class="selected-options" v-if="optionsShow">
                            <div
                              v-for="option in subadmin.permissions"
                              :key="option.value"
                              class="selected-option"
                            >
                              {{ option.name }}
                              <button @click="removeOption(option)">x</button>
                            </div>
                          </div>
                          <div class="select-options">
                            <div
                              v-for="permission in allOptions"
                              :key="permission.id"
                              class="select-option"
                              :class="{ active: permission.active }"
                              @click="toggleOption(permission)"
                            >
                              {{ permission.name }}
                            </div>
                          </div>
                        </div>
                        <span
                          class="start__error"
                          v-if="errors.permissions !== null"
                          >{{ errors.permissions }}</span
                        >
                      </div>
                      <button class="start__btn" @click="sendUpdate(item.id)">
                        ВІДПРАВИТИ ЗМІНИ
                      </button>
                    </form>
                  </div>
                </div>
                <button class="hero__btn">
                  <img
                    src="../assets/image/delete.png"
                    alt="delete"
                    @click="deleteUser(item.id)"
                  />
                </button>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div v-else>
        <p class="hero__else">Список суб-адмінів порожній</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";
import { mapState, mapMutations } from "vuex";

export default {
  name: "ListUser",
  components: {},
  data() {
    return {
      subadmin: {
        email: "",
        name: "",
        surname: "",
        permissions: [],
      },
      oldSybadmin: {
        email: "",
        name: "",
        surname: "",
        permissions: [],
      },
      showWindow: false,
      optionsShow: false,
      allOptions: null,
      errors: {
        email: null,
        password: null,
        firstname: null,
        lastname: null,
        permissions: null,
      },
    };
  },
  created() {
    // Отримання всіх субадмінів
    axios
      .get("/admins")
      .then((response) => {
        const subadmins = response.data;
        this.getListSubadmins(subadmins);
      })
      .catch((error) => console.log(error));
  },

  computed: {
    ...mapState(["listsubadmins", "subadmins", "permissions"]),

    closeListUser() {
      return this.$emit("close-list");
    },

    lengthUser() {
      return this.listsubadmins.length > 0;
    },
  },

  methods: {
    ...mapMutations(["getListSubadmins"]),

    closeUser() {
      this.optionsShow = false;
      this.showWindow = false;
    },

    // Select

    // Додавання дозвілів
    toggleOption(option) {
      option.active = !option.active;
      if (option.active) {
        this.subadmin.permissions.push(option);
      } else {
        this.subadmin.permissions = this.subadmin.permissions.filter(
          (selectedOption) => selectedOption.id !== option.id
        );
      }
    },

    // Видаляємо дозволи
    removeOption(option) {
      option.active = false;
      const index = this.subadmin.permissions.findIndex(
        (selectedOption) => selectedOption.id === option.id
      );
      if (index > -1) {
        this.subadmin.permissions.splice(index, 1);
      }
    },

    // Відкриваємо мультиселект
    openOption() {
      this.optionsShow = true;
      this.allOptions = JSON.parse(JSON.stringify(this.permissions)).map(
        (option) => ({ ...option, active: false })
      );
      this.allOptions = this.allOptions.map((allOption) => {
        if (
          this.subadmin.permissions.some(
            (selected) => selected.id === allOption.id
          )
        ) {
          allOption.active = true;
        }
        return allOption;
      });
    },

    // Видалення суб-адміна
    deleteUser(id) {
      axios
        .delete(`/admins/${id}`)
        .then(() => {
          axios
            .get("/admins")
            .then((response) => {
              const subadmins = response.data;
              this.getListSubadmins(subadmins);
            })
            .catch((error) => console.log(error));
        })
        .catch((error) => console.log(error));
    },

    // Змінюємо те, що нам потрібно
    updateUser(id) {
      axios
        .get(`/admins/${id}`)
        .then((res) => {
          const subadmin = res.data;
          this.oldSybadmin = subadmin;
          this.subadmin.name = subadmin.first_name;
          this.subadmin.surname = subadmin.last_name;
          this.subadmin.email = subadmin.email;
          this.subadmin.permissions = subadmin.permissions;
          this.optionsShow = false;
          this.openOption();
          this.showWindow = true;
        })
        .catch((e) => console.log(e));
      axios
        .get("/admins")
        .then((response) => {
          const subadmins = response.data;
          this.getListSubadmins(subadmins);
        })
        .catch((error) => console.log(error));
    },

    // Відправляємо змінені дані
    sendUpdate(id) {
      const body = {};
      if (this.oldSybadmin.first_name !== this.subadmin.name) {
        body.first_name = this.subadmin.name;
      }
      if (this.oldSybadmin.last_name !== this.subadmin.surname) {
        body.last_name = this.subadmin.surname;
      }
      if (this.oldSybadmin.email !== this.subadmin.email) {
        body.email = this.subadmin.email;
      }
      body.permission_ids = this.subadmin.permissions.map(({ id }) => id);
      console.log(body);
      axios
        .patch(`/admins/${id}`, body)
        .then(() => {
          this.showWindow = false;
          axios
            .get("/admins")
            .then((response) => {
              const subadmins = response.data;
              this.getListSubadmins(subadmins);
              console.log("Update", subadmins);
            })
            .catch((error) => console.log(error));
        })
        .catch((e) => console.log(e));
    },
  },
};
</script>

<style lang="scss" scoped>
p {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
.hero {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 40;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: rgba(41, 53, 96, 0.5);

  &__wrapper {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 200px;
    // width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
  }

  &__title {
    font-size: 30px;
    color: orangered;
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 20px;
    overflow-y: scroll;
  }

  &__item {
    padding: 10px;
    &::marker {
      font-size: 20px;
      color: orangered;
      font-weight: bold;
    }
    & p {
      font-size: 20px;
      font-weight: 600;
      color: black;
      letter-spacing: 1px;
    }
  }

  &__info {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__btn {
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
  }

  &__else {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
    letter-spacing: 1px;
  }
}
.start {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: rgba(41, 53, 96, 0.5);

  &__wrapper {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    min-height: 200px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
  }

  &__icon {
    width: 64px;
    height: 55px;
    padding: 7px;
    background: #ececec;

    & img {
      width: 40px;
    }
  }

  &__error {
    color: red;
    font-size: 14px;
    letter-spacing: 1px;
    align-self: flex-start;
    margin-top: 5px;
  }

  &__title {
    color: orangered;
    font-size: 26px;
    margin-top: 20px;
  }

  &__img {
    width: 60px;
    height: 60px;

    & svg {
      stroke: orangered;
      margin-left: 5px;
      width: 60px;
      height: 60px;
    }
  }

  &__round {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 42%;
      height: 1px;
      background: #aaa;
      vertical-align: middle;
      margin-right: 5%;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 45%;
      height: 1px;
      background: #aaa;
      vertical-align: middle;
      margin-left: 5%;
    }
  }

  &__forma {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__field {
    width: 100%;
    display: flex;
    border: 1px solid #aaa;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    & input {
      border: none;
      width: 100%;
      padding: 0 15px;
      font-size: 16px;
      color: #555555;
    }
  }

  &__btn {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    background-color: orangered;
    border: none;
    margin-top: 30px;
  }

  &__text {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
}

.multi-select {
  position: relative;
  width: 460px;
  background-color: white;
  border: 1px solid #aaa;
  padding: 8px;
  min-height: 55px;
  cursor: pointer;
  margin-top: 20px;
}

.multi-select::before {
  content: "Дозвіли";
  font-size: 16px;
  color: #555555;
  padding-left: 10px;
}

.select-options {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;
}

.select-option {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.select-option:last-of-type {
  border-bottom: none;
}

.select-option:hover {
  background-color: #f5f5f5;
}

.select-option.active {
  background-color: #007bff;
  color: #fff;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  min-height: 32px;
}

.selected-option {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.selected-option button {
  margin-left: 8px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 535px) {
  .start {
    &__wrapper {
      max-width: 320px;

      padding: 15px;
    }

    &__cross {
      width: 20px;
      height: 20px;

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    &__icon {
      width: 54px;
      height: 45px;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 4px;
      background: #ececec;

      & img {
        display: block;
        width: 36px;
        height: 36px;
      }
    }

    &__title {
      font-size: 20px;
      margin-top: 30px;
    }

    &__img {
      width: 50px;
      height: 50px;

      & svg {
        width: 50px;
        height: 50px;
        margin-left: 5px;
      }
    }

    &__field {
      &:not(:first-of-type) {
        margin-top: 10px;
      }

      & input {
        padding: 0 10px;
        font-size: 14px;
      }
    }

    &__btn {
      font-size: 14px;
      margin-top: 10px;
    }

    &__text {
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .multi-select {
    width: 290px;
    margin-top: 10px;
  }

  .multi-select::before {
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  .hero {
    &__wrapper {
      min-width: 100px;
      padding: 15px;
    }

    &__cross {
      width: 20px;
      height: 20px;

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    &__title {
      font-size: 24px;
    }

    &__list {
      gap: 15px;
    }

    &__item {
      padding: 10px;
      &::marker {
        font-size: 18px;
      }
      & p {
        font-size: 18px;
      }
    }

    &__info {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    &__button {
      align-items: center;
      gap: 10px;
    }
  }
}
</style>
