<template>
  <div class="info">
    <div class="info__wrapper">
      <button class="info__cross" @click="closePermissionUser">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.5715 2.57153L2.57153 20.5715"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M2.57153 2.57153L20.5715 20.5715"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <h1 class="info__title">Дозволи</h1>
      <ul class="info__list">
        <li class="info__item" v-for="(item, i) in userPermission" :key="item">
          <span>{{ i + 1 }}.</span>
          <p class="info__label">
            {{ item.name }} -
            <a :href="item.path" target="_blank">{{ item.path }}</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";
import { mapState, mapMutations } from "vuex";
export default {
  name: "PermissionUser",
  created() {
    axios
      .get("/auth/permissions")
      .then((response) => {
        const userP = response.data;
        this.getUserPermission(userP);
      })
      .catch((error) => console.log(error));
  },
  computed: {
    ...mapState(["userPermission"]),
    closePermissionUser() {
      return this.$emit("close-permission");
    },
  },
  methods: {
    ...mapMutations(["getUserPermission"]),
  },
};
</script>

<style lang="scss" scoped>
p {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
.info {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 40;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: rgba(41, 53, 96, 0.5);

  &__wrapper {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 100px;
    // width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
  }

  &__title {
    font-size: 30px;
    color: orangered;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 20px;
  }

  &__item {
    padding: 10px;
    display: flex;
    & p {
      font-size: 20px;
      font-weight: 600;
      color: black;
      letter-spacing: 1px;
      padding-left: 10px;
    }

    & span {
      font-size: 20px;
      color: orangered;
      font-weight: bold;
    }

    & a {
      font-size: 20px;
      font-weight: 600;
      color: black;
      letter-spacing: 1px;
      text-decoration: none;
      word-break: break-all;
      width: 100%;

      &:hover {
        color: orangered;
      }
    }
  }
}

@media (max-width: 416px) {
  .info {
    &__wrapper {
      padding: 15px;
    }

    &__cross {
      width: 20px;
      height: 20px;

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    &__title {
      font-size: 20px;
      margin-top: 30px;
    }

    &__list {
      gap: 15px;
    }

    &__item {
      padding: 10px;
      & p {
        font-size: 16px;
      }

      & span {
        font-size: 16px;
      }

      & a {
        font-size: 16px;
      }
    }
  }
}
</style>
