<template>
  <router-view />
</template>

<script>
export default {};
</script>

<style>
* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}
</style>
